Source: perceptualdiff
Section: utils
Maintainer: Jeff Breidenbach <jab@debian.org>
Uploaders: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper-compat (= 13),
	cmake,
	libgdk-pixbuf-2.0-dev
Standards-Version: 4.7.4
Homepage: https://github.com/myint/perceptualdiff
Vcs-Git: https://salsa.debian.org/debian/perceptualdiff.git
Vcs-Browser: https://salsa.debian.org/debian/perceptualdiff

Package: perceptualdiff
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: perceptual image comparison tool
 PerceptualDiff is an image comparison utility that makes
 use of a computational model of the human visual system to
 compare two images.
